<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.3.5.js"></script>
    <script>
        var socket = io();
        var user = <%- JSON.stringify(user) %>;
        var timeToresentRequest = 3000;

        socket.on("message", function (data) {
            refreshMessages(data);
        });

        socket.on("onlines", function(users) {
            refreshOnlines(users);
        });

        setTimeout(resentRequest, 1);        

        function resentRequest() {
            socket.emit("i-am-online", {user: user});
            setTimeout(resentRequest, timeToresentRequest);
        }

        function refreshMessages(data) {
            $(".media-list").html("");
            $.each(data.messages.reverse(), function(i, message) {
                $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body">'
                + message.content + '<br/><small class="text-muted">' + message.username + ' | ' + message.dateFomat + '</small><hr/></div></div></div></li>');
            });
        }

        function refreshOnlines(users) {
            $(".online-list").html("");
            $.each(users, function(i, user) {
                $(".online-list").append(user.username +'<hr/>');
            });
        }

        $(function(){

            $("#sendMessage").on("click", function() {
                sendMessage()
            });

            $.get("/messages", function (data) {
                refreshMessages(data)
            });

            $.get("/userOnline", function (users) {
                refreshOnlines(users);
            });

            $("#sendMessage").on("click", function() {
                sendMessage()
            });

            $('#messageText').keyup(function(e){
                if(e.keyCode == 13)
                {
                    sendMessage();
                }
            });

            function sendMessage() {
                $container = $('.media-list');
                $container[0].scrollTop = $container[0].scrollHeight;
                var message = $("#messageText").val();
                var user = <%- JSON.stringify(user) %>;
                $.post( "/messages", {message: message, user: user}, function( data ) {
                    $("#messageText").val("")
                });
                $container.animate({ scrollTop: $container[0].scrollHeight }, "slow");
            }
        })
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        .media-list {
            height: 400px;
            padding:10px;
            overflow: auto;
        }
        .online-list {
            /*line-height:30px;*/
            /*background-color:#eeeeee;*/
            height:400px;
            width:100px;
            /*float:left;*/
            padding:10px;
            overflow: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row " style="padding-top:40px;">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <h3 class="text-center">Realtime Chat Application with NodeJS, SocketIO, Expression, and MongoDB </h3>
        <br/><br/>

        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong><span class="glyphicon glyphicon-list"></span> Chat History</strong>
                </div>
                <div stype="height:10px;overflow:auto">
                    <div class="media-list"></div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus/>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="sendMessage">SEND <span class="glyphicon glyphicon-send"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Users Online</strong>
                </div>
                <div>
                    <div class="online-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>